<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Tela de Login</title>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <input type="email" id="email" placeholder="E-mail">
        <span class="error" id="emailError"></span>
        <input type="password" id="password" placeholder="Senha">
        <span class="error" id="passwordError"></span>
        <button onclick="validateLogin()">Entrar</button>
        <p id="message"></p>
    </div>
    <script src="../../assets/js/script.js"></script>
</body>